/* Write your CSS code here */

*{
    box-sizing: border-box;
    font-family:'Poppins';
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
   
}

main{
    background: linear-gradient(to right, rgb(127, 63, 187), rgb(204, 121, 204), rgb(231, 172, 215));
    color: white;
    padding: 10px 50px 10px 50px;
    text-align: center;
    border-radius: 15px;
    max-width: 700px;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow:  -1px 2px 8px black;
}

input::placeholder{
    overflow-x: visible;
    color: rgb(113, 113, 113);
    width: fit-content;
    padding-right: 100px;
    text-align: center;
    visibility: visible;
}

p{
    text-align: center;
    font-weight: 400;
    font-family: 'poppins';
}

#email-form{
    padding: 20px 300px 20px 10px;
    max-width: 700px;
    width: max-content;
    text-align: left;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 15px;
}

button{
    color: black;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    margin-left: -70px;
    border-radius: 15px;
    border: 1px solid rgb(237, 237, 237);
    background: linear-gradient(to right, blueviolet, rgb(224, 149, 224));
    animation: transition 1s linear;
}

button:hover{
    background: linear-gradient(to right, blueviolet, rgba(224, 149, 224,0.65));
    cursor: pointer;
    transform: translateX(4px);
}
.material-symbols-outlined{
    margin: 0;
    padding: 0;
    overflow-clip-margin: fit-content;  
}
.img-wrapper{
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-between;
align-items: center;
margin-top: 20px;
}

.img-wrapper:hover{
    transform: scale(1.1);
        animation: pulse 2s infinite;
        cursor: pointer;
        
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        image-resolution: initial;
    }

    60% {
        transform: scale(1);
                image-resolution: initial;
    }

    100% {
        transform: scale(0.95);
                image-resolution: initial;
    }
}


#chappell{
    width: 80px;
    height: 80px;
        border-radius: 50%;
        overflow: fit-content;
        box-shadow:  0px 1px 4px black;

}

#clairo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: fit-content;
    box-shadow: 0px 1px 4px black;
    
}
#mitski {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: fit-content;
    box-shadow: 0px 1px 4px black;
}

#faye {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: fit-content;
    box-shadow: 0px 1px 4px black;
}



